h1 {
  font-family: 'Tauri', sans-serif;
}

.container.g  {
    max-width: 676px;
    padding-top: 20px;
    border-radius: 20px;
    background: linear-gradient(90.58deg, #52d7ff -9.25%, #0206ff 111.8%);
    margin-top: 40px;
    margin-bottom: 100px;
  }
  .button.mb-4:hover {
    color: white;
    background-color: black;
    border-radius: 10px;
  }
  button.button.mb-4 {
    background-color: rgb(108, 174, 190);
    border-radius: 50px;
    height: 45px;
    width: 165px;
  }
  h1.j {
    color: rgba(7, 0, 0, 0.548);
    font-size: 40px;
    margin-top: 150px;
  }


  .password {
	width: 300px;
	margin: 15px auto;
	position: relative;
   
}
#password-input {
	width: 100%;
	padding: 5px 0;
	height: 55px;
	line-height: 40px;
	text-indent: 10px;
	margin: 0 0 15px 0;
	border-radius: 5px;
	border: 1px solid #999;
	font-size: 18px;
}
.password-control {
	position: absolute;
	top: 18px;
	right: 12px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
p.uu{
    margin-top: -10px;
}