
.my-carousel {
    background-color:white;
  
}

.my-carousel .carousel-item {
	max-height: 940px;

}
.my-carousel .carousel-item img {
    object-fit: cover;
    height: 940px;
}

span {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-caption h5 {
    text-decoration: none;
    color: black;
    font-family: 'Tauri', sans-serif;
    font-size: 20px;
    font-weight: 580;
}
.carousel-caption p {
    text-decoration: none;
    color: black;
    font-family: 'Tauri', sans-serif;
    font-size: 20px;
    font-weight: 580;
}
.entry-description-container {
    position: absolute;
    top: 250px;
    background-color:hsla(41,92%,43%,1);
background-image:
radial-gradient(at 10% 90%, hsla(0,2%,80%,1) 0px, transparent 50%),
radial-gradient(at 92% 11%, hsla(0,2%,80%,1) 0px, transparent 50%);
    color: rgb(0, 0, 0);
    max-width: 420px;
    left: 35px;
	border-radius: 20px;
  }
  .slider-title-head {
    margin-left: 20px;
    margin-top: 20px;
  }
  .entry-title a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .entry-content {
    margin: 20px;
  }

  .entry-content p{
	font-family: 'Tahoma', sans-serif;
  }   


.btn {
	margin-top: 5px;

}

.nt {
	text-decoration: none;
	color: #f8b043; 
}  
.btn:hover {
	text-decoration: none;
	background-color: #3f3d3d;
}
.nt:hover{
	text-decoration: none;
	color: #f8b043; 
}  


.product-card {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
	border-radius: 20px;
}

.product-card:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	padding: 20px;
}

.product-thumb img {
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding: 20px;
}

.product-details h4 a {
	font-weight: 300;
	display: block;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
  color: rgb(0, 0, 0);
}

.product-details p {
	font-size: 15px;
	margin-bottom: 20px;
	color: #999;
	height: 44px;
	overflow: hidden;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-price {
	font-size: 18px;
	color: #ee6e73;
	font-weight: 600;
}

.product-price small {
	color: #ccc;
	font-weight: 400;
	text-decoration: line-through;
	margin-right: 5px;
}

.product-links a {
	font-size: 20px;
	margin-left: 10px;
}