
.my-carousel {
    background-color:white;
  
}

.my-carousel .carousel-item {
	max-height: 940px;

}
.my-carousel .carousel-item img {
    object-fit: cover;
    height: 940px;
}



.carousel-caption h5 {
    text-decoration: none;
    color: black;
    font-family: 'Tauri', sans-serif;
    font-size: 20px;
    font-weight: 580;
}
.carousel-caption p {
    text-decoration: none;
    color: black;
    font-family: 'Tauri', sans-serif;
    font-size: 20px;
    font-weight: 580;
}
.entry-description-container {
    position: absolute;
    top: 250px;
    background-color: rgba(1, 14, 83, 0.527);
    color: white;
    max-width: 420px;
    left: 35px;
  }
  .slider-title-head {
    margin-left: 20px;
    margin-top: 20px;
  }
  .entry-title a {
    text-decoration: none;
    color: white;
  }
  .entry-content {
    margin: 20px;
  }