.footer {
   background-color: #fdb717;
   padding: 35px 25px 10px 10px;
}

.footer h4 {
	color: #000000;
	text-transform: uppercase;
	font-size: 16px;
	padding-bottom: 3px;
	font-weight: 600;
}

.footer a {
	text-decoration: none;
	transition: all .3s;
}

.footer a:hover {
	color: #000000;
	text-decoration: underline;
	
}

.footer a, .footer li {
	color: #000000;
	font-weight: 600;
}

.footer-icons a {
	display: inline-block;
	margin-right: 15px;
	font-size: 20px;
}
.conteiner{
    margin-top: 100px;
}
.footer-bar {
    margin-top: 15px;
	margin-bottom: 20px;
    max-width: 200px;
    max-height: 200px;
}
hr.hr {
	border: none; 
    background-color: rgb(243, 240, 240); 
    height: 1px; 
    max-width: 280px;
}
h1.h1 {
    font-size: 10px;
    color: rgb(0, 0, 0);
    opacity: 0.5;
	
}