
header {
    background-color: white;
}

body {
    font-family: 'Tauri', sans-serif;
    list-style-type: none;
}
strong.txt {
    font-size: 20px;
}

.navbar-brand {
    max-height: 250px;
    max-width: 250px;
    

}

.nav-item a:hover{
    opacity: 0.5;
   
}
.nav-item {
    color: black;
    font-family: 'Tauri', sans-serif;
    font-size: 20px;
    font-weight: 580;
}


h5 {
   padding: 4px; 
}

.nav-item a{
    font-family: 'Tauri', sans-serif;
}









