 .container p.text-inform.text-center{
    margin-top: 100px;
    
 }
 
 
 p.text-inform {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: 500;
   padding: 20px; 
}
p.text-nam {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: 500;
   padding: 20px; 
}
.gg.col-md-6.col-12{
    width: 400px;
    height: 330px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.20);
    
}
.gg.col-md-6.col-12 a {
   color: black;
    text-decoration: none;
}
.gg.col-md-6.col-12 a:hover {
    color: blue;
}
.hh.col-md-6.col-12{
    width: 730px;
    height: max-content;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.20);
}
.hh.col-md-6.col-12 h4 {
    padding: 20px 0px 10px 0px;
    font-size: 20px;
    font-weight: 500;
    color: blue;
}
.gg.col-md-6.col-12 h4 {
    padding: 20px 0px 0px 0px;
    font-size: 20px;
    font-weight: 500;
    color: blue;
}
.sobaka {
    width: 40px;
    height: 40px;
   
    
}
.trubka {
    width: 40px;
    height: 40px;
   
}
a {
    text-decoration: none;
    color: black;
}
.a.form-floating.col-sm-4 input {
    background-color: rgba(5, 7, 112, 0.103);
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
}

.d.form-floating.col-sm-10.pb-3 input {
    height: 100px;
    background-color: rgba(5, 7, 112, 0.103);
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
}
.but:hover {
    color: white;
    background-color: black;
    border-radius: 10px;
  }
  .but {
    background-color: rgba(33, 68, 224, 0.527);
    border-radius: 50px;
    height: 45px;
    width: 155px;
    margin-left: 30px;
    margin-top: 65px;
  }
  h6 {
    font-family: 'Tauri', sans-serif;
    font-size: 12px;
    padding: 0px 0px 50px 0px
  }
  

