.container.uu {
    margin-top: 100px;
}
.polosa{
    width: 280px;
}
.polosa.hh {
    width: 420px; 
}
.pervoe {
    font-size: 25px;
    font-family: 'Cinzel', serif;
}
.vtoroe {
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Cinzel', serif;
}
.nol {
    font-size: 20px;
    font-family: 'Cinzel', serif; 
    font-weight: 300;
}
.text.k {
    font-size: 25px;
    font-weight: 300;
    color: rgba(11, 11, 136, 0.753);
}
.tri {
    font-size: 20px;
    font-family: 'Cinzel', serif; 
    font-weight: 600;
}
.polosa.kon {
    width: 650px;  

}