.fw-semi-bold {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-family: 'Tahoma', sans-serif;
    font-size: 18px;
}
 
.container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.btr {
    color: white;
    background-color: #ff9900; 
    padding: 8px 30px;
    border-radius: 4px;
    border: #ff9900;
    font-weight: 600;
    box-shadow: 0px 5px 30px rgba(241, 209, 65, 0.4);
    transition: 0.5s;
}

 .btr:hover{
    color: white;
    background-color: #fdbb58; 
 } 
 