.container {
  max-width: 576px;
  padding-top: 5px;
  border-radius: 20px;
  margin-top: 20px;
}
.button:hover {
  background-color: rgb(0, 255, 98);
  border-radius: 10px;
}
.button {
  background-color: rgb(177, 255, 199);
  border-radius: 10px;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
  background-color: rgb(203, 247, 216);
}